      <div class="info">
        There are <span class="bold"><%= @count %></span> contacts
      </div>
      <% @contacts.each do |person| -%>
      <article>
        <h2><%= person.first_name %> <%= person.last_name%> (<%= person.email %>)</h2>
        <p><a href="#">Edit</a> | <a href="#">Delete</a></p>
      </article>
      <% end %>
