<html DOCTYPE html>
  <head>
    <title>Welcome to My CRM </title>
    <style>
      body {font-family: Helvetica, Arial, sans-serif;}
      h1 {font-family: Georgia, serif; color: lightblue;}
      h2 {color: #b1b1b1; font-size: 1.1em;}
      ul li a {text-decoration: none; padding: 10px; margin: 20px 0;}
      ul li a:hover {text-decoration: none; background-color: lightblue; color: white; font-weight: bold; padding: 10px; margin: 20px 0;}
    </style>
  </head>
  <body>
    <h1>Welcome to My CRM</h1>
      <h2>What would you like to do?</h2>
        <ul>
          <li><a href="contacts">View all my contacts</a></li>
        </ul>
  </body>
</html>
